body{
    background-color: white;
    color: black;
}
.nav{
    display: flex;
}
.nav a{
    display: inline-block;
    margin: 0 40px;
    font-size: 35px;
    color: black;
    transition: all .4s;
}
.nav a:hover{
    transform: translate(-4px);
    color: black;
}
.shirt{
    font-size: 30px;
    font-weight: 800;
    color: black;
}
header{
    background-color:gray;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 6px white;
    padding: 14px 14%;
    display: flex;
    align-items: center;
}
